@import '../../styles/vars';

.footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $mainColor;
  color: $secondaryColor;
  p {
    text-align: center;
    padding: 1.5rem;
  }
  a {
    color: $secondaryColor;
    &:hover, &:active {
      color: $mainOnHoverColor;
    }
  }
  .footerBr {
    line-height: 1rem;
  }
}