.home {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    h2 {
        margin-bottom: 1rem;
    }
    p {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .access {
        display: flex;
        flex-direction: column;
        align-items: center;
        span {
            display: block;
            margin: 1rem;
        }
    }
}