@import '../../styles/vars';

.quotes {
  .quotesMenu {
    .firstLevel {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .addQuoteIcon {
        position: relative;
        right: -7px;
        height: 36px;
        width: auto;
        transition: transform 1s;
        &:hover, &:active {
          filter: $mainOnHoverFilter;
        }
        &.active {
          transform: rotate(45deg);
          &:hover, &:active {
            filter: $secondaryOnHoverFilter;
          }
        }
      }
    }
  }
  .MuiPagination-ul {
    width: 100%;
    justify-content: center;
  }
}