@import '../../styles/vars';

.help {
  h2 {
    text-align: center;
    margin-bottom: 1rem;
  }
  .helpText {
    a {
      text-decoration: underline;
      &:hover, &:active {
        color: $mainOnHoverColor;
      }
    }
  }
  .aboutImgDiv {
    text-align: center;
    .aboutImg {
      height: 12rem;
      width: auto;
      margin-top: 1rem;
    }
  }
}