@import '../../styles/vars';

.linkButton {
    border: none;
    padding: 0;
    margin: 1rem;
    background-color: $mainColor;
    color: $secondaryColor;
    border-radius: 2rem;
    padding: 0.5rem;
    font-weight: bold;
    width: max-content;
    a {
        display: block;
        padding: 0rem 1rem 0rem 1rem;
        color: $secondaryColor;
    }
    &:hover, &:active {
        background-color: $secondaryColor;
        color: $mainColor;
        border: solid $mainColor 1px;
        a {
            color: $mainColor;
        }
    }
}