@import '../../styles/vars';

.header {
    text-align: center;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    background-color: $mainColor;
    h1 {
        margin-top: 0;
        padding-top: 1rem;
    }
    a {
        color: $secondaryColor;
        &:hover, &:active {
            color: $mainOnHoverColor;
        }
    }
}