.app {
  min-height: 100vh;
  position: relative;
  // height of footer
  padding-bottom: 96px;
  overflow: hidden;
  box-sizing: border-box;
  main {
    margin: 0rem 0.5rem 0.5rem 0.5rem;
  }
  .filter{
      background-color: rgba(black, 0.5);
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 5;
  }
}