@import '../../styles/vars';

.login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
    h2 {
        text-align: center;
        margin-bottom: 1rem;
    }
    .loginForm {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin: 0.5rem;
      width: 100%;
      .loginLabel {
        position: relative;
        margin-bottom: 2rem;
        width: calc(100% / 3 * 2);
        span {
          display: block;
          width: 100%;
        }
        input {
          display: block;
          height: 34px;
          width: 100%;
          border: solid 1px lightgray;
          border-radius: 5px;
          &.invalid {
            border: solid 1px red;
            border-radius: 5px;
          }
        }
        .passwordToggle {
          position: absolute;
          right: 2px;
          top: 50%;
          z-index: 1;
          height: 24px;
          width: auto;
          &:hover, &:active {
            filter: $mainOnHoverFilter;
          }
          &.active {
            filter: $mainOnHoverFilter;
            &:hover, &:active {
              filter: $thirdOnHoverFilter;
            }
          }
        }
      }
      .errorMsg {
        color: red;
        font-size: 0.9rem;
        line-height: 1rem;
      }
      .logInButton {
        border: none;
        padding: 0;
        margin: 0.5rem;
        background-color: $mainColor;
        color: $secondaryColor;
        border-radius: 2rem;
        padding: 0.5rem 1.5rem 0.5rem 1.5rem;
        font-weight: bold;
        width: max-content;
        display: block;
        &:hover {
          cursor: pointer;
        }
        &:hover, &:active {
          background-color: $secondaryColor;
          color: $mainColor;
          border: solid 1px $mainColor;
        }
      }
      .passwordForgottenLink {
        font-size: 0.9rem;
        margin-bottom: 1rem;
        &:hover, &:active {
          color: $mainOnHoverColor;
        }
      }
    }
    #loginLabelPassword {
      margin-bottom: 0rem;
    }
    .logInImg {
      height: 12rem;
      width: auto;
      margin-top: 2rem;
    }
}

.confirmationMsg {
  h2 {
    text-align: center;
    margin-bottom: 1rem;
  }
  .logOutButton {
    border: none;
    padding: 0;
    margin: 0.5rem;
    background-color: $mainColor;
    color: $secondaryColor;
    border-radius: 2rem;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    font-weight: bold;
    width: max-content;
    display: block;
    &:hover {
      cursor: pointer;
    }
    &:hover, &:active {
      background-color: $secondaryColor;
      color: $mainColor;
      border: solid 1px $mainColor;
    }
  }
  .logInConfirmationImg {
    height: 12rem;
    width: auto;
    margin-top: 2rem;
  }
}

@media (min-width: $largeDesktopBreakPoint) {
  .login {
    .loginForm {
      .loginLabel {
        width: calc(100% / 3);
      }
    }
  }
}
