@import 'reset';
@import 'vars';

* {
    line-height: normal;
}

html {
    font-size: 16px;
    height: 100%;
}

body {
    font-family: $mainFamilyFont;
    background-color: $secondaryColor;
    margin: 0;
    height: 100%;
    position: relative;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: $mainColor;
}

#root {
    height: 100vh;
}

strong {
    font-weight: bold;
}