{% extends 'base.html.twig' %}

{% block title %}MyQuotes{% endblock %}

{% block body %}
    <h1>Password Changed</h1>
    <p>{{pseudonym}},<br />
        Your password has been successfully changed.<br />
        You can now use your new password to log in to <a href="http://localhost:8000/" title="My Quotes" target="_blank" rel="noopener noreferrer">My Quotes</a>.
    </p>
{% endblock %}