{% extends 'base.html.twig' %}

{% block title %}MyQuotes{% endblock %}

{% block body %}
    <h1>Password Forgotten</h1>
    <p>{{pseudonym}},<br />
        Here is your code to reset your password: {{token}}<br />
        It will expire 10 minutes after you receive this email.
    </p>
{% endblock %}