.quote {
  border-bottom: solid 1px grey;
  .quoteMain {
    display: flex;
    justify-content: space-between;
    .quoteText {
      &::first-letter {
        font-weight: bold;
      }
    }
    .copieIcon {
      align-self: center;
    }
  }
}