@import '../../../styles/vars';

.tags {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .tagsList {
    display: flex;
    box-shadow: 5px 0 5px -5px $mainColor, -5px 0 5px -5px $mainColor, inset 5px 0 5px -5px $mainColor, inset -5px 0 5px -5px $mainColor;
    border-radius: 3px;
    margin: 0.5rem 0rem 0.5rem 0rem;
    overflow: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge - to be tested */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari and Opera - to be tested */
    }
    .tag {
        display: inline-block;
        line-height: normal;
        vertical-align: middle;
        margin: 0rem 0.25rem 0rem 0.25rem;
        padding: 0.1rem 0.2rem 0.1rem 0.2rem;
        background-color: $mainColor;
        color: $secondaryColor;
        border-radius: 5px;
        width: min-content;
        &:hover, &:active {
          background-color: $secondaryColor;
          color: $mainColor;
          border: $mainColor solid 1px;
        }
        &.active {
          display: flex;
          align-items: center;
          background-color: $secondaryColor;
          color: $mainColor;
          border: $mainColor solid 1px;
          .tagUnselect {
            &:hover, &:active {
              filter: $secondaryOnHoverFilter;
            }
          }
        }
    }
  }
  .leftButton, .rightButton {
    width: 24px;
    height: auto;
    &:hover, &:active {
      filter: $mainOnHoverFilter;
    }
  }
}